DATABASE_URL=
AUTH_SECRET=

CASTA_IYZICO_API_KEY=
CASTA_IYZICO_SECRET_KEY=
CASTA_IYZICO_BASE_URL=

CASTA_NETGSM_USER=
CASTA_NETGSM_PASSWORD=
CASTA_NETGSM_HEADER=

CASTA_FREEPBX_CLIENT_ID=
CASTA_FREEPBX_CLIENT_SECRET=
CASTA_FREEPBX_GQL_URL=
CASTA_FREEPBX_TOKEN_URL=

OPENCART_DB_HOST=
OPENCART_DB_PORT=
OPENCART_DB_NAME=
OPENCART_DB_USER=
OPENCART_DB_PASSWORD=
OPENCART_IMAGE_BASE_URL=
